html {
    margin: 0px;
    padding: 0px;
    font: arial;
    font-size: 10pt;
}
table {
    margin: 5px;
    border-collapse: collapse;    
}
th {
    background-color: #336699;
    color: white;
}
td, th {
    border: 1px solid black;    
}
div.scrollpane {
    max-width: 100%;
    overflow-x: scroll;
}
