body {
    padding: 5px;
    margin: 0px;
    box-sizing: content-box;
    width: 100%;
}
table {
    border-collapse: collapse;    
    overflow-x: scroll;
}
td, th {
    border: 1px solid black;    
}
